<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl bg-white" id="navbarTop">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold text-primary" href="{{ path('app_post_index') }}">
            Acceuil
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark font-weight-bold" href="{{ path('app_post_index') }}">
                        <i class="fas fa-file-alt me-1"></i> home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark font-weight-bold" href="{{ path('app_post_index') }}">
                        <i class="fas fa-comments me-1"></i> contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
