{# templates/emails/reset_password.html.twig #}
<p>Hello {{ user.email }},</p>

<p>You requested a password reset. Please click the link below to reset your password:</p>

<p><a href="{{ resetUrl }}">Reset Password</a></p>

<p>If you didn't request this, please ignore this email.</p>